@model UserModel
@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
}
@{
    ViewData["Title"] = "Recommendations";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="banner_inner" id="home">
    <div class="banner_inner_overlay">
    </div>
</section>

<section class="destinations" id="destinations">
    <div class="container py-xl-4">
        <h3 class="heading text-capitalize text-center">Our recommendations</h3>
        <p class="text mt-2 text-center">
            Our generated university recommendations based on your preferences. You can always change them.
        </p>
        <p class="text mt-2 text-center">
            <button onclick="submitBookmarksForm()" style="width:200px; border-radius: 0;" class="btn btn-outline-primary text-center">Add bookmarks</button>
            <a style="width:200px; border-radius: 0;" class="btn btn-outline-danger text-center" asp-controller="Preferences" asp-action="SetPreferences">Change preferences</a>
        </p>
    </div>

    <div style="display: block; margin: 15px 100px;">
        @foreach (var university in Model.Recommendations)
        {
            <div class="border-primary p-3 m-3">
                <div style="min-height:250px;">
                    <h3 class="d-block justify-content-center">@university.University.UniversityName</h3>
                    <div class="mt-2">
                        <img src="@Url.Content("~/img/logos/" + @university.University.UniversityId + ".jpg")" class="rounded img-fluid abt-image" style="height:150px;width:auto;margin-right:10px;" alt="@university.University.UniversityName" />
                    </div>
                    <div>
                        <a class="btn btn-outline-primary mt-2" asp-controller="Review" asp-action="View" asp-route-id="@university.University.UniversityId">View University</a>
                    </div>
                </div>

                <div class="row inner-sec-w3layouts-w3pvt-lauinfo">
                    @foreach (var course in university.Courses)
                    {
                        <div class="col-lg-3 col-sm-6" style="margin-top:8px;">
                            <div class="package-info">
                                <h5 class="my-2"><span class="fa fa-university mr-2"></span>@course.Program</h5>
                                <h6 class="mt-1"><span class="fa fa-users mr-2"></span>@course.Group</h6>
                                <h6 class="mt-1"><span class="fa fa-graduation-cap mr-2"></span>@course.Direction</h6>
                                <ul class="listing mt-3" style="margin-bottom:15px;">
                                    <li><span class="fa fa-check-circle-o mr-2"></span>Presentation : <span>@course.Presentation</span></li>
                                    <li><span class="fa fa-check-circle-o mr-2"></span>Clarity : <span>@course.Clarity</span></li>
                                    <li><span class="fa fa-check-circle-o mr-2"></span>Feedback : <span>@course.Feedback</span></li>
                                    <li><span class="fa fa-check-circle-o mr-2"></span>Encouragement : <span>@course.Encouragement</span></li>
                                    <li><span class="fa fa-check-circle-o mr-2"></span>Effectiveness : <span>@course.Effectiveness</span></li>
                                    <li><span class="fa fa-check-circle-o mr-2"></span>Satisfaction : <span>@course.Satisfaction</span></li>
                                </ul>
                                <div>
                                    <button onclick="selectButton(@course.StudyProgramId)" class="btn btn-outline-primary card-preference-btn text-center" id="@course.StudyProgramId" style="width:100%; position: relative;">Bookmark</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <form asp-action="PostBookmarks" asp-controller="Preferences" role="form" method="post" enctype="multipart/form-data" id="bookmarksForm">
        <input id="bookmarks" type="hidden" asp-for="CourseBookmarks" />
    </form>

    <script>
        function selectButton(id) {
            console.log(id)
            let item = $("#" + id);
            if (item.hasClass("btn-success")) {
                item.removeClass("btn-success");
                item.removeClass("selected")
                item.addClass("btn-outline-primary")
            }
            else if (item.hasClass("btn-outline-primary")) {
                item.removeClass("btn-outline-primary");
                item.addClass("btn-success")
                item.addClass("selected")
            }
        }

        function submitBookmarksForm() {
            selectedCourses = $(".selected").map(function () {
                return this.id;
            }).get();

            $(function () {
                $("#bookmarks").val(`${selectedCourses.join()}`);
                $("#bookmarksForm").submit();
            });
        }
    </script>

</section>
