@model List<RecommendationModel>
@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
}
@{
    ViewData["Title"] = "Recommendations";
}

@if (Model == null)
{
    <div>Set your preferences!</div>
}
else
{
<div class="m-3">
    <h3 style="max-width: 500px; margin: 0; display: inline">Our recommendations</h3>
    <a style="width:100px; height: 50px; border-radius: 0;" class="btn btn-danger float-right" asp-controller="Preferences" asp-action="SetPreferences">Change preferences</a>
</div>
<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(700px, 900px)); grid-gap: 20px; margin: 15px 0;">
    @foreach (var university in Model)
    {
        <div class="border-success border p-3 m-3">
            <div style="min-height:200px;">
                <h3 class="d-block justify-content-center">@university.University.UniversityName</h3>
                <img src=@university.University.Image class="rounded float-left" style="height:150px;width:auto;margin-right:10px;" alt="@university.University.UniversityName" />
                <a class="btn btn-outline-info" asp-controller="Review" asp-action="View" asp-route-id="@university.University.UniversityId">View University</a>
            </div>
            <div class="grid-fit-max">
                @foreach (var course in university.Courses)
                {
                    <div class="card card-preference">
                        <div class="card-header card-preference-header"></div>
                        <div class="card-body card-preference-body">
                            <div class="card-preference-title">
                                <h6 class="text-center d-flex justify-content-center">@course.StudyProgramName</h6>
                            </div>
                            <a class="btn btn-primary card-preference-btn" asp-controller="Review" asp-action="ViewCourse" asp-route-id="@course.StudyProgramId">View</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
}
