@model CourseReviewModel
@{
    ViewData["Title"] = "Reviews";
}
@section Styles {
    <link href="@Url.Content("~/css/RadioButton.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/star-rating.css" />

}
<form asp-action="SubmitCourseReview" asp-controller="Review" role="form" method="post" enctype="multipart/form-data">
    <div class="mb-2">
        <h2> Leave a review for <b>@Model.StudyProgramName</b></h2>
        <h4>1 – Very Unsatisfied | 2 – Unsatisfied | 3 – Neutral | 4 – Satisfied | 5 – Very Satisfied</h4>
    </div>
    <input type="hidden" asp-for="StudyProgramId" />
    @foreach (var item in Model.ratingTypes)
    {
        <div class="row">
            <div class="col-4">
                @item.Value

            </div>
            <fieldset class="rating">
                <input type="radio" id="star5-@item.Key" required="" name="@item.Key" value="5" /><label for="star5-@item.Key">5 stars</label>
                <input type="radio" id="star4-@item.Key" required="" name="@item.Key" value="4" /><label for="star4-@item.Key">4 stars</label>
                <input type="radio" id="star3-@item.Key" required="" name="@item.Key" value="3" /><label for="star3-@item.Key">3 stars</label>
                <input type="radio" id="star2-@item.Key" required="" name="@item.Key" value="2" /><label for="star2-@item.Key">2 stars</label>
                <input type="radio" id="star1-@item.Key" required="" name="@item.Key" value="1" /><label for="star1-@item.Key">1 star</label>
            </fieldset>
        </div>
    }

    <div class="row mt-3">
        <div class="col-lg-4">
            <label asp-for="Review">Additional comments(Optional):</label>
            <textarea asp-for="Review" asp-class="form-control" placeholder="Leave a review..." pattern="[a-zA-Z0-9]+" style="height:200px; width:700px"></textarea>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</form>
