@model UniversityReviewModel
@{
    ViewData["Title"] = "UniversityReview";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/css/RadioButton.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/star-rating.css" />
}

<section class="contact py-5">
    <div class="container py-lg-5 py-sm-4">
        <h2 class="heading text-capitalize text-center mb-lg-5 mb-4"> Leave a review for @Model.UniversityName</h2>
        <div class="contact-grids">
            <div class="row">
                <div class="col-lg-12 contact-left-form">
                    <form id="ratingform" asp-action="SubmitUniversityReview" asp-controller="Review" role="form" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="UniversityId" />
                        @foreach (var item in Model.ratingTypes)
                        {
                            <div class="col-sm-12 form-group contact-forms">
                                <h4>@item.Value</h4>
                                <input class="form-control" name="@item.Key" list="ratings" pattern="1|2|3|4|5" title="@item.Value">
                                <datalist id="ratings">
                                    <option name="@item.Key" value="1">1</option>
                                    <option name="@item.Key" value="2">2</option>
                                    <option name="@item.Key" value="3">3</option>
                                    <option name="@item.Key" value="4">4</option>
                                    <option name="@item.Key" value="5">5</option>
                                </datalist>
                            </div>
                        }
                        <div class="col-md-12 form-group contact-forms">
                            <textarea class="form-control" asp-for="Review" asp-class="form-control" placeholder="Additional comments..." rows="5"></textarea>
                        </div>
                        <div class="col-md-12 booking-button">
                            <button class="btn btn-block sent-butnn" type="submit">Submit review</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>



