@model UniversityModel
@{
    ViewData["Title"] = "Reviews";
}
    <div class="d-flex">
        <h1>@Model.UniversityName</h1>
        <div class="ml-auto align-self-center">
            <a class="btn btn-lg btn-default" asp-controller="Review" asp-action="UniversityReview" asp-route-id="@Model.UniversityId">Leave a review for university</a>
        </div>
    </div>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="panel panel-default text-left">
            <div class="panel-body">
                @Model.Description
            </div>
        </div>
    </div>
</div>


<div class="container text-center" style="margin-top:20px;">
    <h3>Average reviews:</h3>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <h2>@Model.Variety</h2>
            <p>Variety</p>
        </div>
        <div class="col-sm-2">
            <h2>@Model.Availability</h2>
            <p>Availability</p>
        </div>
        <div class="col-sm-2">
            <h2>@Model.Accessability</h2>
            <p>Accessability</p>
        </div>
        <div class="col-sm-2">
            <h2>@Model.Unions</h2>
            <p>Quality</p>
        </div>
        <div class="col-sm-2">
            <h2>@Model.Cost</h2>
            <p>Unions</p>
        </div>
        <div class="col-sm-2">
            <h2>@Model.Variety</h2>
            <p>Cost</p>
        </div>
    </div>
</div>
<br>

<table class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>Group</th>
            <th>Direction</th>
            <th>Program</th>
            <th data-toggle="tooltip" data-placement="top" title="Presentation of content">Presentation</th>
            <th data-toggle="tooltip" data-placement="top" title="Clarity of expectations">Clarity</th>
            <th data-toggle="tooltip" data-placement="top" title="Clear feedback on performance">Feedback</th>
            <th data-toggle="tooltip" data-placement="top" title="Encouragment of participation/discussion">Encouragment</th>
            <th data-toggle="tooltip" data-placement="top" title="Overall teaching effectiveness">Teaching effectiveness</th>
            <th data-toggle="tooltip" data-placement="top" title="How satisfied were you with this course">Satisfaction</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.GetCoursesWithRatings())
        {
            <tr>
                <td>@i["group"]</td>
                <td>@i["direction"]</td>
                <td>@i["program"]</td>
                <td>@i["presentation"]</td>
                <td>@i["clarity"]</td>
                <td>@i["feedback"]</td>
                <td>@i["encouragement"]</td>
                <td>@i["effectiveness"]</td>
                <td>@i["satisfaction"]</td>
                <td><a class="btn btn-primary" asp-controller="Review" asp-action="CourseReview" asp-route-id="@i["studyProgramId"]">Review</a></td>
            </tr>
        }
    </tbody>
</table>
