@model UserModel
@{
    ViewData["Title"] = "Index";
}

    <form asp-controller="Settings" role="form" method="post" enctype="multipart/form-data" id="settingsForm">
        <div class="row">
            <div class="col-6">
                <h2> Change Password:</h2>


                <div class="row" oninput='currentPassword.setCustomValidity(currentPassword.value != @Model.Password ? "Incorrect password." : "")'>
                    <div class="col" oninput='currentPassword.setCustomValidity(currentPassword.value == newPassword.value ? "New password cannot be the same as old one." : "")'>
                        <label>Current password:</label>
                        <input asp-for="CurrentPassword" type="password" id="currentPassword" class="form-control" />
                    </div>
                </div>

                <div class="row" oninput='newPassword.setCustomValidity(newPassword.value != newPassword2.value ? "Passwords do not match." : "")'>
                    <div class="col" oninput='currentPassword.setCustomValidity(currentPassword.value == newPassword.value ? "New password cannot be the same as old one." : "")'>
                        <label>New password:</label>
                        <input asp-for="NewPassword" type="password" id="newPassword" class="form-control" />
                    </div>
                </div>
                <div class="row" oninput='newPassword.setCustomValidity(newPassword.value != newPassword2.value ? "Passwords do not match." : "")'>
                    <div class="col">
                        <label>Confirm new password:</label>
                        <input asp-for="NewPassword2" type="password" id="newPassword2" class="form-control" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangePassword">Change password</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2> Change Email:</h2>

                <div class="row">
                    <div class="col">
                        <label>Current email:</label>
                        <input asp-for="CurrentEmail" type="text" id="currentEmail" class="form-control" />
                    </div>
                </div>

                <div class="row" >
                    <div class="col" >
                        <label>New email:</label>
                        <input asp-for="NewEmail" type="text" id="newEmail" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Confirm new email:</label>
                        <input asp-for="NewEmail2" type="text" id="newEmail2" class="form-control" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeEmail">Change email</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-6">
                <h2> Change University:</h2>

                <div>
                    <label> University: </label>
                    <select asp-items="Model.Universities" asp-for="SelectedUniversity" class="form-control" required=""></select>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeUniversity">Change university</button>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h2> Change Status:</h2>

                <div>
                    <label> University: </label>
                    <select asp-items="Model.Statuses" asp-for="SelectedStatus" class="form-control" required=""></select>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeStatus">Change status</button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="Email" id="Email" value="@Model.Email">
        <input type="hidden" name="University" id="University" value="@Model.University">
        <input type="hidden" name="Status" id="Status" value="@Model.Status">
        <input type="hidden" name="Course" id="Course" value="@Model.Course">

    </form>