@model UserModel
@{
    ViewData["Title"] = "Index";
}

    <form asp-controller="Settings" role="form" method="post" enctype="multipart/form-data" id="settingsForm">
        <div class="row">
            <div class="col-6">
                <h2> Change Password:</h2>


                <div class="row">
                    <div class="col">
                        <label>Current password:</label>
                        <input asp-for="CurrentPassword" type="password" minlength="6" id="currentPassword" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>New password:</label>
                        <input asp-for="NewPassword" type="password" minlength="6" id="newPassword" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Confirm new password:</label>
                        <input asp-for="NewPassword2" type="password" minlength="6" id="newPassword2" class="form-control" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangePassword">Change password</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2> Change Email:</h2>

                <div class="row">
                    <div class="col">
                        <label>Current email:</label>
                        <input asp-for="CurrentEmail" type="email" id="currentEmail" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>New email:</label>
                        <input asp-for="NewEmail" type="email" id="newEmail" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Confirm new email:</label>
                        <input asp-for="NewEmail2" type="email" id="newEmail2" class="form-control" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeEmail">Change email</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-6">
                <h2> Change University:</h2>

                <div>
                    <label> University: </label>
                    <select asp-items="Model.Universities" asp-for="SelectedUniversity" class="form-control" required="">
                        <option selected="selected">
                            @Model.University
                        </option>
                    </select>
                    
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeUniversity">Change university</button>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h2> Change Status:</h2>

                <div>
                    <label> University: </label>
                    <select asp-items="Model.Statuses" asp-for="SelectedStatus" class="form-control" required="">
                        <option selected="selected">
                            @Model.Status
                        </option>
                    </select>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeStatus">Change status</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-6">
                <h2> Change Course:</h2>

                <div>
                    <label> Course: </label>
                    <select asp-items="Model.Courses" asp-for="SelectedCourse" class="form-control" required="">
                        <option selected="selected">
                            @Model.Course
                        </option>
                    </select>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeCourse">Change course</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2> Add student card:</h2>

                <div>
                    <label> Upload valid LSP: </label>
                    <input asp-for="File" type="file" name="file" id="file" required="" />
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="UploadFile">Upload</button>
                    </div>
                </div>
            </div>

            <input type="hidden" name="Email" id="Email" value="@Model.Email">
            <input type="hidden" name="University" id="University" value="@Model.University">
            <input type="hidden" name="Status" id="Status" value="@Model.Status">
            <input type="hidden" name="Course" id="Course" value="@Model.Course">
        </div>
    </form>