@model UserModel
@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    window.onload = function () {
        document.getElementById("loginhome").children[0].style.display = "none";
    };
</script>
<section class="banner_inner" id="home">
    <div class="banner_inner_overlay">
    </div>
</section>

<section class="blok">
    <div class="blok-body">
        <div class="row">
            <!-- Nav tabs -->
            <ul class="nav tab-menu nav-pills col-sm-4 nav-stacked pr15 width-200 h5 d-block">
                <li class="active"><a href="#profile" data-toggle="tab">Edit profile</a></li>
                <li><a href="#settings" data-toggle="tab">Account settings</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content col-sm-8">
                <div class="tab-pane well active in active" id="profile">
                    <h2>Edit profile</h2>
                    <form asp-controller="Settings" role="form" method="post" enctype="multipart/form-data" id="settingsForm">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label>First name</label>
                                        <input asp-for="NewFirstName" type="text" id="changeFirstName" class="form-control" value="@Model.FirstName" />
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeFirstName">Change first name</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <h4> Change University:</h4>

                                <div>
                                    <label> University: </label>
                                    <select asp-items="Model.Universities" asp-for="SelectedUniversity" class="form-control" required="">
                                        <option selected="selected">
                                            @Model.University
                                        </option>
                                    </select>

                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeUniversity">Change university</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label>Last name</label>
                                        <input asp-for="NewLastName" type="text" id="changeLastName" class="form-control" value="@Model.LastName" />
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeLastName">Change last name</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label>Username</label>
                                        <input asp-for="NewUsername" type="text" id="changeUsername" class="form-control" value="@Model.Username" />
                                    </div>
                                </div>
                                <div class="row mt-3 d-block">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeUsername">Change username</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane well fade" id="settings">
                    <h2>Account settings</h2>
                    <form asp-controller="Settings" role="form" method="post" enctype="multipart/form-data" id="settingsForm">
                        <div class="row">
                            <div class="col-6">
                                <h4> Change Password:</h4>

                                <div class="row">
                                    <div class="col">
                                        <label>Current password:</label>
                                        <input asp-for="CurrentPassword" type="password" minlength="6" id="currentPassword" class="form-control" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>New password:</label>
                                        <input asp-for="NewPassword" type="password" minlength="6" id="newPassword" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Confirm new password:</label>
                                        <input asp-for="NewPassword2" type="password" minlength="6" id="newPassword2" class="form-control" />
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangePassword">Change password</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h4> Change Email:</h4>

                                <div class="row">
                                    <div class="col">
                                        <label>New email:</label>
                                        <input asp-for="NewEmail" type="email" id="newEmail" class="form-control" value="@Model.Email" />
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeEmail">Change email</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:20px;">
                            

                            <div class="col-6">
                                <h4> Change Status:</h4>

                                <div>
                                    <label> University: </label>
                                    <select asp-items="Model.Statuses" asp-for="SelectedStatus" class="form-control" required="">
                                        <option selected="selected">
                                            @Model.Status
                                        </option>
                                    </select>
                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeStatus">Change status</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:20px;">
                            <div class="col-6">
                                <h4> Change Course:</h4>

                                <div>
                                    <label> Course: </label>
                                    <select asp-items="Model.Courses" asp-for="SelectedCourse" class="form-control" required="">
                                        <option selected="selected">
                                            @Model.Course
                                        </option>
                                    </select>
                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeCourse">Change course</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h4> Add student card:</h4>

                                <div>
                                    <label> Upload valid LSP: </label>
                                    <input asp-for="File" type="file" name="file" id="file" />
                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" asp-controller="Settings" asp-action="UploadFile">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" name="Email" id="Email" value="@Model.Email">
<input type="hidden" name="University" id="University" value="@Model.University">
<input type="hidden" name="Status" id="Status" value="@Model.Status">
<input type="hidden" name="Course" id="Course" value="@Model.Course">
