
@{
    ViewData["Title"] = "Index";
}
@model ForumModel

<form asp-controller="Forum" role="form" method="post" enctype="multipart/form-data" id="forumMainPage">

    <div class="row">
        <div class="mx-auto text-center">
            <div class="card text-center" style="width:400px">
                <div class="card-body">
                    <h4 class="card-title">For students, by students </h4>
                    <p class="card-text">
                        University advisor is a platform for anyone who seek higher education.
                        We help you get answers to toughest questions related to university choice.
                    </p>
                </div>
                <div style="height:50px">
                    <a asp-controller="Forum" asp-action="Question" class="btn btn-primary">Ask a question</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <table class="table table-striped table-bordered w-100">
            <thead>
                <tr>
                    <th data-toggle="tooltip" data-placement="top">Question id</th>
                    <th data-toggle="tooltip" data-placement="top">Question</th>
                    <th data-toggle="tooltip" data-placement="top">Message</th>
                    <th data-toggle="tooltip" data-placement="top">Asked by</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.GetAllQuestions())
                {
                    <tr>
                        <td>@i["questionId"]</td>
                        <td>@i["question"]</td>
                        <td>@i["message"]</td>
                        <td>@i["userId"]</td>
                        <td><a class="btn btn-primary" asp-controller="Forum" asp-action="ViewQuestion" asp-route-id="@i["questionId"]">View question</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

