@model ForumModel
@{
    ViewData["Title"] = "ViewQuestion";
}

<form asp-controller="Forum" role="form" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-lg-4">
            <div class="card text-left" style="width:400px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.question</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Asked by id: @Model.userId</h6>
                        <p class="card-text">@Model.message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <label>Replies:</label>
        </div>
    </div>

    <input type="hidden" asp-for="questionId" />
    @foreach (var i in Model.GetAllReplies())
    {
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-right" style="width:700px">
                    <div class="card bg-info">
                        <div class="card-body">
                            @*<h5 class="card-title">@i["answer"]</h5>*@
                            <h5 class="card-title">@Html.Raw(i["answer"])</h5>
                            <h6 class="card-subtitle mb-2">Answered by id: @i["userId"]</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-8">
            <label>Your answer</label>
            @*<textarea asp-for="@Model.answer" class="form-control" required="" pattern="[a-zA-Z0-9]+" style="height:200px"></textarea>*@
            <textarea id="editor1" asp-for="@Model.answer" class="form-control" required=""></textarea>
            <script>
                CKEDITOR.replace("editor1");
            </script>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4">
            <input asp-action="Reply" asp-controller="Forum" class="btn btn-primary" type="submit" value="Reply">
        </div>
    </div>

</form>