@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{ bool loggedin = HttpContextAccessor.HttpContext.Session.GetInt32("UserId") != null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - University advisor</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Buttons.css" />
    <link rel="stylesheet" href="~/css/Table.css" />
    <link rel="stylesheet" href="~/css/Global.css" />
    <link rel="stylesheet" href="~/css/AutoCompleteSearch.css" />
    <link rel="stylesheet" href="~/css/Settings.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3" style="font-size:24px;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar-wrapper collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="justify-content-center navbar-nav flex-grow-1">
                        <li class="nav-item ml-3">
                            <a class="nav-link text-white effect-box" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (!loggedin)
                        {
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="LogIn" asp-action="Index">Log In</a>
                            </li>
                        }
                        @if (loggedin)
                        {
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="Review" asp-action="Index">Reviews</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="UserProfile" asp-action="Index">Profile</a>
                            </li>                         
                            <li>
                                <form autocomplete="off" action="/action_page.php">
                                    <div class="autocomplete" style="width:300px;">
                                        <input id="quickUniversitySearch" type="text" name="quickUniversitySearch" placeholder="Find university or course">
                                    </div>
                                </form>
                                <script src="~/js/AutoCompleteSearch.js"></script>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="LogOut" asp-action="Index">Log out</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["errorMessage"] != null)
            {
            <div class="modal" id="error-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="col-12 text-center modal-title">@TempData["errorTitle"]</h3>
                        </div>
                        <div class="modal-body">
                            <h5 class="text-center">@TempData["errorMessage"]</h5>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $("#error-modal").modal();
            </script>
            }
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
