@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{ bool loggedin = HttpContextAccessor.HttpContext.Session.GetInt32("UserId") != null;}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>University advisor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="University advisor" />

    <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>

    <!-- css files -->
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->
    <!-- google fonts -->
    <link href="~//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>
    <header>
        <div class="container">
            <nav class="py-md-4 py-3 d-lg-flex">
                <div id="logo">
                    <h1 class="mt-md-0 mt-2"> <a href="index.html"><span class="fa fa-map-signs"></span> University advisor </a></h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop" />
                @if (!loggedin)
                {
                    <ul class="menu ml-auto mt-1">
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class=""><a asp-area="" asp-controller="Review" asp-action="Index">Reviews</a></li>
                        @*<li class=""><a asp-area="" asp-controller="LogIn" asp-action="Index">Log In</a></li>*@
                        <li class="" id="loginhome"><a href="#myModal" data-toggle="modal">Log In</a></li>

                    </ul>
                }
                @if (loggedin)
                {
                    <ul class="menu ml-auto mt-1">
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a> </li>
                        <li class=""><a asp-area="" asp-controller="Review" asp-action="Index">Reviews</a></li>
                        <li class=""><a asp-area="" asp-controller="Forum" asp-action="Index">Forum</a></li>
                        <li class=""><a asp-area="" asp-controller="Settings" asp-action="Index">Settings</a></li>
                        <li class=""><a asp-area="" asp-controller="Preferences" asp-action="Index">Preferences</a></li>
                        <li class=""><a asp-area="" asp-controller="LogOut" asp-action="Index">Log out</a></li>
                    </ul>
                }
            </nav>
        </div>
    </header>
    @RenderBody()
    @RenderSection("Styles",false)
    <!--BODY OF PAGES-->
</body>
@*<body>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <div class="container">
            <main role="main" class="pb-3">
                @if (TempData["errorMessage"] != null)
                {
                    <div class="modal" id="error-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="col-12 text-center modal-title">@TempData["errorTitle"]</h3>
                                </div>
                                <div class="modal-body">
                                    <h5 class="text-center">@TempData["errorMessage"]</h5>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $("#error-modal").modal();
                    </script>
                }
                @RenderBody()
            </main>
        </div>
        @RenderSection("Scripts", required: false)
    </body>*@
</html>
